.hero_main {
  position: relative;
  background-color: #000000;
  min-height: 100vh;
  width: 100%;

  .planet-3D {
    position: relative;
    pointer-events: none;
    user-select: none;
    z-index: 1;
  }

  .content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 1000px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    width: 100dvw;
    z-index: 10;
    pointer-events: auto;

    h1 {
      font-weight: 500;
      text-wrap: balance;
      color: #ffffff !important;
      font-size: clamp(2rem, 5vw, 4rem);
      text-shadow:
        0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.5),
        0 0 30px rgba(255, 255, 255, 0.3),
        2px 2px 4px rgba(0, 0, 0, 0.8);
    }

    p {
      max-width: 400px;
      color: #ffffff !important;
      font-size: clamp(1rem, 2vw, 1.25rem);
      text-shadow:
        0 0 8px rgba(255, 255, 255, 0.6),
        0 0 16px rgba(255, 255, 255, 0.4),
        1px 1px 2px rgba(0, 0, 0, 0.8);
    }

    .cta_btn {
      margin-top: 1rem;
      font-size: 1.35rem !important;
      padding: 0.75rem 1.5rem;
      /* background-color: #151517; */
      background-color: #0e0e0c;
      color: white;
      border: none;
      border-radius: 11px;
      box-shadow:
        inset 0 4px 2px -1px rgba(255, 255, 255, 0.2),
        inset 0 -3px 1px black;
      outline: 1.5px solid rgba(0, 0, 0, 0.2);
    }
  }
}
